DB_HOST=localhost
DB_PORT=5432
DDI_DB_NAME=ddivault
DDI_DB_USER=ddivault_user
DDI_DB_PASS=your_db_password
DDI_API_PORT=3007
DDI_APP_PORT=3006
NEXTAUTH_SECRET=your_nextauth_secret
NOCVAULT_HUB_URL=http://your_server_ip:3000
NEXT_PUBLIC_NOCVAULT_HUB_URL=http://your_server_ip:3000
NETVAULT_DB_HOST=localhost
NETVAULT_DB_PORT=5432
NETVAULT_DB_NAME=netvault
NETVAULT_DB_USER=netvault
NETVAULT_DB_PASS=your_netvault_db_password
PS_AUTH_MODE=kerberos
PS_TIMEOUT_MS=30000
SCOPE_WARNING_PCT=80
SCOPE_CRITICAL_PCT=90
RETENTION_DAYS=90
SERVER_IP=your_server_ip
